Assignment2/node_modules
Assignment3/Semester Project/node_modules
Assignment4/Semester Project/node_modules
LabTask1/Semester Project/node_modules
LabTask2/Semester Project/node_modules
LabTask3/Semester Project/node_modules
LabTask4/Semester Project/node_modules