@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
body{
    background-color: #717375;
    height:150vh;
    font-weight: bold;
}
*{
    margin: 0px;
    padding: 0px;
    font-family:'Times New Roman', Times, serif;
}
.main{
    background-image: linear-gradient(to top, #ffffff, #eeeeee, #dddddd, #cccccc, #bbbbbb);
    margin-top: 100px;
    height:auto;
    width:650px;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.left{
    
    background-image: linear-gradient(to right top, #08088c, #120c92, #1a1198, #21159f, #2719a5);
     width:200px;
     height:100%;
     float:left;
}
.right{
   
    width:400px;
    float:left;

}
.image{
    width:180px;
    height:180px;
    background-image: linear-gradient(to right top, #06285a, #00296b, #00287b, #00268b, #062199);
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 60px;
    border: 10px solid rgb(14, 16, 105);
    box-shadow: 6px 7px 9px 5px #021a4773;
}
.img{
    width:180px;
    height: 180px;
    border-radius: 50%;
}
.label1{
    position: relative;
}
.title{
    background-image: linear-gradient(to right top, #37393c, #46494b, #56595a, #67696a, #797a7a);
    padding: 10px;
    color: #ddd;
    text-align: left;
    margin-right: -12px;
}
.p1{
    padding: 9px 10px;
    font-size: 15px;
    color: rgb(26, 28, 28);
}
.icons1{
    vertical-align: sub;
    padding-right: 6px;
}
.skill-container{
    width:90%;
    background-color: black;
    margin: 0px 10px;
}
.skill-html{
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: aliceblue;
    width: 90%;
    background-color: white;
}
.skill-css{
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: aliceblue;
    width: 80%;
    background-color: white;
}
.skill-cplus{
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: aliceblue;
    width: 70%;
    background-color: white;
}
.skill-web{
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: aliceblue;
    width: 75%;
    background-color: white;
}
.skill-scr{
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: aliceblue;
    width: 70%;
    background-color: white;
}
.name{
    padding: 86px 0px 60px 55px;
    text-align: center;
}
.label-2{
    padding: 0px 50px;
    margin-top: 30px;
}
.p2{
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px;
}
.p3{
    font-size: 15px;
    margin-top: 10px;
}
.p3 span{
    color:rgb(10, 17, 145);
    padding-left: 20px;
}
.span{
    color:rgb(10, 17, 145);
}