
.logo{
    width: 105px;
    height: 40px;
}
.btn {
    border:none;
    color: black;
}
a{
    text-decoration: none;
}
.foot1{
    background-color: lightgray;
}
.img{
    width:60%;
    height:90%;
}
.margin{
    margin-top: 40px;
    margin-bottom: 20px;
}
.main{
    background-image: url(/Assets/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.bl{
    color: rgb(3, 3, 159);
}
.or{
    color: rgb(224, 147, 2);
}
.clr{
background: #DDC45D;
background: -webkit-linear-gradient(top left, #DDC45D, #1B0ED4);
background: -moz-linear-gradient(top left, #DDC45D, #1B0ED4);
background: linear-gradient(to bottom right, #DDC45D, #1B0ED4);
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-toggle::after {
    display: none;
  }
.card-product:hover{
    transform: scale(1.05);
}
.slide {
    position: relative;
    transition: top 0.3s ease-in-out;
  }
 .slide:hover {
    top: -5px;
  }
.card-product {
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
    margin-bottom: 25px;
  }